html {
    --section-background: blue;
    font-family: sans-serif;
}

body {
    max-width: 980px;
    margin: auto;
}

main {
    display: flex;
    gap: 16px;
    margin-top: 64px;

    overflow-x: scroll;
    scroll-snap-type: x proximity;
}

main > section {
    width: 640px;
    height: 360px;
    padding: 16px;
    flex-shrink: 0;
    background-color: var(--section-background);
    color: white;
    text-align: center;

    scroll-snap-align: center;

    transition: linear 250ms;

    &:nth-of-type(2):hover {
        filter: hue-rotate(30deg) blur(1px);
        transform: skewX(-5deg);
    }
}

/* main > section:nth-of-type(2) {
    filter: hue-rotate(60deg) blur(1px);
} */